body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* === VARIABLES === */

:root {
  --main-green: #578974;
  --main-black: #383838;
  --light-brown: #a9937b;
  --light-grey: #6d6d6d;
  --lightest-grey: #b1b1b1;
  --sand: #E3DDDA;
  --white: #FFF;
  --app-height: 100%;
  --app-width: calc(100vw - 100px);
}

.green-bar {
  background-color: var(--main-green);
  height: 20px;
  width: 100%;
}
/* === HEADINGS === */

h1 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  color: var(--white);
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

h4 {

}

h5 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h6 {

}

p {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

li {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* === STYLING SPECIALS === */

.thin-roman {
  font-weight: 500;
}

/* === NAVIGATION === */

.header-container {
  align-items: center;
  background-color: var(--main-green);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px 50px;
  position: relative;
  width: auto;
  z-index: 100;
}

#header-container {
  justify-content: space-between;
}

.navigation-link-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navigation-link-container a {
  text-decoration: none;
}

.navigation-link-container h2 {
  position: relative;
}

.navigation-link-container h2:hover {
  cursor: pointer;
}

.navigation-link-container h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  transform-origin: 0% 50%;
  background-color: var(--white);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navigation-link-container h2:hover::before {
  transform: scaleX(1);
}

.bebe-miller-logo-container {
  background-color: var(--main-black);
  left: 50px;
  padding: 30px 10px;
  position: absolute;
  top: 0px;
}

#bmc-logo-large {
  fill: var(--white);
  height: 200px;
  width: auto;
  z-index: 10;
}

.wordmark {
  color: var(--white);
  text-decoration: none;
}

.nav-wrapper {
  position: relative;
}

/* === FOOTER === */

.footer-container {
  align-items: center;
  background-color: var(--main-black);
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 30px 50px;
  width: auto;
}

.socials-container {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.socials-container a {
  text-decoration: none;
}

.socials-container h3 {
  color: var(--white);
  margin: 0;
  transition-duration: 300ms;
  border-bottom: 1px solid var(--main-black);
}

.socials-container h3:hover {
  border-bottom: 1px solid var(--main-green);
  color: var(--main-green);
}

.mailing-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}

.mailing-list-container h3 {
  color: var(--white);
  margin: 0 0 0 20px;
}

label {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 12px;
}

.input-field {
  align-items: center;
  border: 1px solid var(--main-green);
  border-radius: 20px;
  color: var(--white);
  display: flex;
  height: 35px;
  margin-right: 10px;
  padding-left: 20px;
  transition-duration: 300ms;
  width: 300px;
}

.input-field:hover {
  background-color: var(--main-green);
  border-radius: 0px;
  color: var(--main-black);
}

.mailing-list-input {
  display: flex;
}

#mailchimp-footer-subscribe {
  background-color: var(--main-green);
  border: 1px solid var(--main-green);
  border-radius: 20px;
  color: var(--main-black);
  font-family: "neue-haas-grotesk-display", sans-serif;
  height: 35px;
  text-transform: uppercase;
  width: 35x;
}

#mailchimp-footer-subscribe:hover {
  background-color: var(--main-black);
  color: var(--main-green);
  transition-duration: 300ms;
}

#mailchimp-footer-subscribe:active {
  background-color: var(--light-brown);
  border-color: var(--light-brown);
  color: var(--main-black);
  transition-duration: 0ms;
}

.IP-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 33%;
}

.IP-container a {
  color: var(--white);
}

.IP-container p {
  color: var(--white);
  font-size: 12px;
  margin: 0;
}

/* === Calendar === */

.calendar-page {
  display: flex;
  height: calc(var(--app-height) - 100px);
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar-page h3 {
  font-size: 24px;
  margin: 0;
}

.calendar-page h5 {
  margin: 0;
}

.calendar-page p {
  font-size: 20px;
  margin: 0;
}

.calendar-line {
  background-color: var(--main-green);
  height: 80%;
  position: absolute;
  width: 3px;
}

.calendar-container {
  display: flex;
  height: 80%;
  justify-content: center;
  overflow: scroll;
  position: relative;
  width: 80%;
  z-index: 0;
  -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

.event-list {
  height: 100%;
  padding-top: calc(var(--app-height) / 3);
  margin-bottom: calc(var(--app-height) / 3);
  width: 100%;
}

.event-container {
  margin-bottom: 40px;
  display: flex;
}

.time-location-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  width: 50%;
}

.description-link-container {
  padding-left: 20px;
  width: 50%;
}

.description-link-container a {
  color: var(--main-black);
  text-decoration: none;
}

.description-link-container h5 {
  border-bottom: 1px solid var(--light-grey);
  color: var(--light-grey);
  margin-top: 5px;
  width: 50%;
}

.description-link-container h5:hover {
  border-bottom: 1px solid var(--main-green);
  color: var(--main-green);
}

.calendar-year {
  margin: 0px;
  text-align: right;
  width: calc(50% - 20px);
}

.calendar-logic-container {
  color: var(--main-black);
  display: flex;
  flex-direction: column;
  left: 50px;
  position: absolute;
}

/* === Archive Menu === */

.archive-menu-wrapper {
  background-color: var(--white);
  border-bottom: 2px solid var(--main-black);
  display: grid;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms ease-out;
  z-index: 10;
}

.inner{
  overflow: hidden;
  position: relative;
}

.archive-menu-bttn-container {
  display: flex;
  flex-direction: row;
}

.archive-menu-bttn-container h1 {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px 50px;
}

.archive-menu-bttn-container h1:hover {
  cursor: pointer;
}
.archive-menu-container {
  position: relative;
}

.archive-menu-container {
  display: flex;
  position: relative;
  width: 100%;
}

.archive-menu-bttn {
  width: 50%;
}

.archive-menu-card {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px 0px; 
  width: 100%;
}

.archive-menu-card h1{
  color: var(--main-black);
}

.archive-menu-card a {
  text-decoration: none;
}

.archive-menu-card h2 {
  border-bottom: 2px solid var(--white);
  color: var(--main-black);
  margin: 2px 0px 0px 0px;
  margin: 0px 50px; 
  transition-duration: 300ms;
}

.archive-menu-card h2:hover {
  color: var(--light-brown);
  border-bottom: 2px solid var(--light-brown);
}

.archive-menu-link-container {
  position: relative;
  width: 50%;
}

.archive-menu-toggle {
  display: flex;
  justify-content: center;
}

#archive-menu-triangle {
  height: 20px;
  margin-bottom: 10px;
  width: 20px;
  transform: rotate(180deg);
  transition: transform 200ms ease-out;
} 

#archive-menu-triangle:hover {
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 200ms ease-out;
}

#works-menu {
  align-items: flex-end;
}

/* === Project Header === */

.project-container {
  display: flex;
  flex-direction: column;
}

.project-header {
  background-color: var(--main-black);
  padding: 20px 50px
}

.project-header h1{
  color: var(--white);
  font-size: 48px;
  margin: 0px;
}

.header-image-people-container {
  display: flex;
}

.project-people {
  background-color: var(--light-brown);
  color: var(--white);
  width: 40%;
}

.project-people li {
  list-style: none;
  margin: 0px 50px 10px 50px;
  padding: 0;
}

.project-description ul {
  padding: 20px 0 20px 0;
}

.project-description li {
  list-style: none;
  margin: 0px 50px 10px 50px;
  padding: 0;
}

.project-people ul {
  padding: 20px 0 20px 0;
}

.project-header-image {
  display: flex;
  flex-direction: column;
  width: 60vW;
}

.project-header-image img{
  height: 100%;
  object-fit: cover;

}

.caption {
  background-color: var(--light-brown);
  color: var(--white);
  padding: 0px 50px;
  text-align: right;
  z-index: 100;
}

.caption p {
  font-size: 12px;
  font-style: italic;
  padding: 0px;
}

.description-performances-container {
  display: flex;
}

.project-description {
  background-color: var(--white);
  padding: 20px 50px;
  width: calc(60% - 100px);
}

.project-description h6 {
  padding: 20px 50px;
}


.performances {
  background-color: var(--lightest-grey);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 40px 50px;
  width: calc(40% - 100px);
}

.performances li {
  font-size: 12px;
  list-style: none;
  margin: 0px 50px 10px 0px;
  padding: 0;
}

.performances ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.premiere {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.premiere p {
  margin: 0px;
}

.premiere h3 {
  margin-bottom: 0px;
}

.press-quote {
  border-left: 2px solid var(--main-green);
  margin: 50px 0px;
}

.press-quote p {
  font-size: 16px;
  font-style: italic;
  margin: 0px 50px;
}

.press-quote h6 {
  font-size: 12px;
  margin: 0 50px;
  padding: 0;
}

.credits-header {
  align-items: flex-end;
  background-color: var(--main-green);
  color: var(--white);
  display: flex;
  justify-content: center;
  width: calc(40%);
}

.gallery {
  background-color: var(--main-black);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;   
  height: 40vW;
  position: relative; 
  width: 60vW;
}

.gallery-toggle {
  align-items: center;
  color: var(--white);
  display: flex;
  height: calc(100%);
  justify-content: center;
  opacity: 50%;
  position: absolute;
  transition-duration: 200ms;
  width: 50px;
}

.gallery-toggle h1 {
  font-weight: 500;
}

.gallery-toggle:hover {
  background-color: var(--main-green);
  cursor: pointer;
  opacity: 100%;
}

#gallery-toggle-left {
  left: 0;
}

#gallery-toggle-right{
  right: 0;
}

/* === About === */

.about-header {
  display: flex;
  height: 60vH;
}

.header-text {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-brown);
  width: 50%;
}

.header-text > h1 {
  margin: 0px;
}

.header-text > h2 {
  font-weight: 300;
  margin: 0px;
}

.header-image {
  background-size: cover;
  background-position: center;
  width: 50%;
}

.header-image img {
  object-fit: contain;
  width: 100%;
}

.about-header-image {
  width: 100vW;
}

.quote-container {
  display: flex;
  height: 60vH;
}

.quote-text {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-style: italic;
  justify-content: center;
  width: 50%;
}

.quote-text > p {
  padding: 50px 50px 0px 50px;
}

.quote-text > h3 {
  padding: 0px 50px 50px 50px;
}

.quote-image {
  background-size: cover;
  background-position: center;
  width: 50%;
}

.body-container{
  display: flex;
}

.body-text {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 50%;
}

.body-text > p {
  padding: 10px 50px;
}

.body-images {
  width: 50%;
}

.single-image {
  max-height: 500px;
  width: 100%;
}

.full-image-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: var(--app-width);
}

.full-image {
  width: 100%;
}

.color-block{
  height: 40px;
  display: flex;
  width: 100vW;
}

.quote-color-block-white {
  background-color: var(--white);
  width: 40%;
}

.quote-color-block-black {
  background-color: var(--main-black);
  width: 60%;
}

.header-color-block-white {
  background-color: var(--white);
  width: 60%;
}

.header-color-block-black {
  background-color: var(--main-black);
  width: 40%;
}

.page-container {
  display: flex;
  flex-direction: column;
}

/* ==== Forum === */

.forum-container {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [end];
  grid-template-rows: [first] 1fr [line2] 1fr [line3] 1fr [end];
  padding: 0px 50px;
  margin-bottom: 50px;
}

.forum-recent-container {
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [end];
  padding: 50px 50px 0px 50px;
}

.forum-card {
  aspect-ratio: 1;
  border: 2px solid var(--main-green);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-wrap: wrap;
}

.forum-container-last-row {
  align-items: start;
  background-color: var(--main-green);
  display: flex;
  /* display: grid;
  grid-template-columns: [first] 33% [line2] 33% [line3] 33% [end]; */
  padding: 50px 100px 50px 100px;
  transition-duration: 600ms;
}

.forum-card-last-row {
  border: 2px solid var(--main-green);
  background-color: #FFF;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  width: 33%;
}

.forum-card-last-row > h1 {
  padding: 10px 20px;
  margin-top: 0px;
}

.forum-card-last-row > h3 {
  margin: 0px;
  padding: 10px 20px;
}

.forum-card-last-row > p {
  padding: 0px 20px;
}

.forum-card-last-row > h4 {
  margin-top: 0px;
  padding: 10px 20px;
}

.press > ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

.press > h3 {
  margin-bottom: 10px;
  margin-top: 10px;

}

.choreography > ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

.choreography > h4 {
  margin: 0px;
}

.choreography > ul > li > em {
  color: var(--main-green);
}

.teachings {

}

.teachings > ul {
  margin: 0;
  padding-left: 20px;
}

.forum-recent-card {
  border: 2px solid var(--main-green);
  display: flex;
  flex-direction: column;
}

.forum-recent-card img {
  width: 100%;
  object-fit: cover;
  height: 60%;
}

.forum-title {
  background-color: rgba(255, 255, 255, .8);
  padding: 0px 20px;
  transition-duration: 300ms;
}

.forum-recent-title {
  background-color: var(--white);
  padding: 0px 20px;
  transition-duration: 300ms;
}

.forum-recent-title h5 {
  border-bottom: 1px solid var(--light-grey);
  color: var(--light-grey);
  margin-top: 5px;
  width: 50%;
  transition-duration: 300ms;
}

.forum-recent-title h5:hover {
  border-bottom: 1px solid var(--main-green);
  color: var(--main-green);
  transition-duration: 300ms;
}

.forum-recent-title a {
  text-decoration: none;
}

.forum-title:hover {
  background-color: white;
  transition-duration: 300ms;
}

.forum-title h5 {
  border-bottom: 1px solid var(--light-grey);
  color: var(--light-grey);
  margin-top: 5px;
  width: 50%;
  transition-duration: 300ms;
}

.forum-title h5:hover {
  border-bottom: 1px solid var(--main-green);
  color: var(--main-green);
  transition-duration: 300ms;
}

.forum-recent-title a {
  text-decoration: none;
}

.publication-info {
  background-color: var(--main-green);
  color: var(--white);
  padding: 0px 20px;
  text-align: right;
}

.pagination {
  align-items: center;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bebe-miller-logo-container-teachings {
  background-color: var(--main-black);
  aspect-ratio: 1;
  width: 100%;
  z-index: 100;
}

#bmc-logo-teachings {
  fill: white;
  padding: 10px;
}

.forum-detail-container {
  display: flex;
  flex-direction: row;
  height: 75vH;
}

.grey-block {
  background-color: var(--main-black);
  width: 2%;
}

.forum-title-container {
  background-color: var(--sand);
  flex-direction: column;
  width: calc(33% - 40px);
  padding: 20px;
}

.date-and-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.date-and-category p {
  margin: 0;
}

.forum-header-image {
  width: 65%;
}

.forum-header-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.side-bar {
  background-color: var(--light-brown);
  width: 35%;
}

.text-component-card {
  display: flex;

}

.text-component-body {
  padding: 20px;
  width: calc(65% - 40px);
}

.accordian-bttn {
  right: 10px;
  top: 12px;
  width: 30px;
}

.column-title {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  width: calc(100% - 40px);
}

.column-body {
  padding: 0px 20px 0px 20px;
  overflow: scroll;
  transition-duration: 600ms;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.column-body::-webkit-scrollbar {
  display: none;
}

#vertical {
  transition-duration: 300ms;
  transform-origin: 50% 50%;
}